:root {
  --black: #161616;
  --white:#EBEBEB;
  --grey: #968F8F;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.background {
  background-color: var(--white);
  color: var(--black);
}

.header__foto {
  display: block;
  width: 65vw;
  margin: 0 auto;
  padding: 0 0 50px;
}

/*.title--main {
    color: var(--grey);
    margin: 0 auto;
    padding: 50px 0;
}*/
.header__gafa {
  max-width: 50vw;
  padding: 40px 0;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 800px) {
  .title--main {
    font-size: 100px;
    text-align: center;
  }
}
.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  padding: 0;
}

.menu__odkaz {
  color: var(--white);
  text-decoration: none;
}

.menu__odkaz::after {
  background-color: var(--black);
  height: 1.5px;
  width: auto;
  content: "";
  display: block;
}

.menu__odkaz:hover::after,
.menu__odkaz:focus::after {
  background-color: var(--grey);
}

.menu__odkaz:hover,
.menu__odkaz:focus {
  color: var(--grey);
}

@media screen and (min-width: 800px) {
  .menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--black);
    padding: 10px;
  }
  .menu__item {
    display: inline-block;
    font-size: 25px;
    margin: 0 20px;
  }
  .menu__list {
    display: flex;
    justify-content: center;
  }
}
.video__item {
  width: 100%;
  aspect-ratio: 16/9;
}

.video__text {
  margin: 0;
  padding: 0 0 40px;
}

@media screen and (min-width: 1000px) {
  .video__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 40px;
  }
}
.section {
  /*min-height: 100vh;*/
  max-width: 1400px;
  width: 75vw;
  margin: 0 auto;
  padding: 0 0 80px;
  text-align: block;
}

.title--section {
  font-weight: 700;
  margin: 0;
  padding: 80px 0 30px 0;
  font-size: 35px;
}

.gafa__gafa {
  display: block;
  margin: 0 auto;
  width: 99vw;
}

.footer {
  max-width: 1400px;
  margin: 0;
  padding: 20px 50px;
  background-image: url(/fotky/gafa1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__gafa {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.koncerty__bunka {
  text-align: left;
  padding: 20px 40px;
  margin: 0;
  border-bottom: 1px solid;
  border-color: var(--black);
}

.koncerty__bunka--horni {
  font-size: 20px;
  text-align: center;
}

.koncerty__tabulka {
  border-spacing: 0;
}

.koncerty__radek--koncert {
  font-weight: 700;
}

.odkaz--cerny {
  color: var(--black);
}

.odkaz--bily {
  color: var(--white);
}

.kontakt__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.kontakt__item {
  margin: 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.kontakt__ikona {
  max-width: 50px;
  margin: 30px 30px 30px 0;
}

.fotky__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.fotky__nahled {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  color: var(--white);
  background-color: var(--black);
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

.text__semibold {
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */