@use 'colors';

.header__foto {
    display: block;
    width: 95vw;
    margin: 0 auto;
}

.title--main {
    color: var(--grey);
    margin: 0 auto;
    padding: 50px 0;
}

@media screen and (min-width: 800px) {
    
    .title--main {
        font-size: 100px;
        text-align: center;
    }




}