@use 'colors';
@use 'fonts';
@use 'background';
@use 'header';
@use 'menu';
@use 'video';
@use 'sections';
@use 'footer';
@use 'koncerty';
@use 'kontakt';
@use 'fotogalerie';
@use 'onas';
@use 'sluzby';

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    color: var(--white);
    background-color: var(--black);
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
}

.text__semibold {
    font-weight: 600;
}